apiVersion: v1
kind: Secret
metadata:
  {{- include "nce.metadataNamespace" $ | nindent 2 }}
  name: {{ .Values.configSecret.name }}
  labels:
    {{- include "nce.labels" $ | nindent 4 }}
type: Opaque
stringData:
  config.json: |
    {
      "name": {{ .Values.config.name | default "nex-ce" | quote }},
      "nexus": {{ .Values.config.nexus | default "nexus" | quote }},
      "tags": {{ .Values.config.tags | default (dict) | toJson }},
      "node_seed": {{ .Values.config.nodeSeed | quote }},
      "nats": {
        "servers": [{{ .Values.config.url | quote }}],
        "seed": {{ .Values.config.creds.seed | quote }},
        "jwt": {{ .Values.config.creds.jwt | quote }}
      },
      "creds_signing_key": {{ .Values.config.credsSigning.signingKey | quote }},
      "control_account": {{ .Values.config.credsSigning.signingKeyAccount | quote }},
      "allow_remote_register": {{ .Values.config.allowRemoteRegister | default false }},
      "logger": {
        "level": {{ .Values.config.logLevel | default "info" | lower | quote }}
      },
      "nexlets": {
        "connectors-kubernetes": {
          "enabled": true,
          "k8sNamespace": {{ .Values.config.workloadsNamespace | default (include "nce.namespace" $ | trim) | quote }},
          "registerType": "connector"
        },
        "containers-kubernetes": {
          "enabled": true,
          "k8sNamespace": {{ .Values.config.k8s_connectors_namespace | default (include "nce.namespace" $ | trim) | quote }},
          "registerType": "container"
        }
      }
    }
