name: private-link

on:
  pull_request:
    paths:
    - charts/private-link/**
    - .github/workflows/private-link.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Setup repo
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'
        check-latest: true
        cache: true
        cache-dependency-path: charts/private-link/test/go.sum

    - name: Test
      working-directory: charts/private-link/test
      run: go test
